main {
    background-color: #2a2051;
}

main .soundtrack {
    display: flex;
    justify-content: center;
}

main .descripcion {
    font-weight: bold;
    text-align: justify;
    margin: 1rem;
    text-decoration: underline;
    color: #dcdcdc;
}